* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #bfc2dd;
}

/* ====================================================== */
/* General Classes  */
/* ====================================================== */

/* ------------ Color ----------------------- */
.text-gray-800 {
    color: #5a5c69 !important;
}

.text-warning {
    color: #cd970d !important;
}

.text-alert {
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}
/* ------------ / Color -------------------- */

/* ----------- Background-color ---------------------- */
.bg-vod-dark {
    background-color: #23152b;
    background-size: cover;
}

.bg-vod-dark-mode {
    background-color: #360e44;
    background-size: cover;
}

.bg-vod-warning {
    background-color: #f6c23e;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(10%, #f6c23e),
        to(#dda20a)
    );
    background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
    background-size: cover;
}

.bg-vod-danger {
    background-color: #e74a3b;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(10%, #e74a3b),
        to(#be2617)
    );
    background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
    background-size: cover;
}

.bg-vod-success {
    background-color: #1cc88a;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(10%, #1cc88a),
        to(#13855c)
    );
    background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
    background-size: cover;
}

/* ----------- / Background-color ---------------------- */

/* ----------- List-group ---------------------- */
.list-group-item {
    border: none;
    background-color: transparent;
}

.list-group-item a {
    color: #e69867;
    text-decoration: none;
    transition: 0.6s;
}
.list-group-item a:hover {
    color: #fff;
}

.list-group-header {
    font-size: 0.8rem;
    font-weight: bold;
}
/* ----------- / List-group ---------------------- */
.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.card {
    background-color: #360e44;
    color: #dee1b5;
}

.card-header:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}
.card-header h6 {
    font-weight: bold;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.table {
    width: 100%;
    overflow-x: auto;
}
.table-database {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
    width: 100%;
}
.table-database th,
.table-database td {
    padding: 0.75rem;
    vertical-align: top;
}
.table-database thead th {
    background-color: #2e0c35;
    color: #fff;
}
.table-database tbody tr {
    background-color: transparent;
}
.table-database tbody td {
    color: #f6c23e;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(18, 20, 64, 0.73) !important;
}
/* ---------- Btn ------------------------- */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-danger {
    color: #fff;
    background-color: #e74a3b66;
    border-color: #e74a3b;
}

.btn-warning {
    color: #fff;
    background-color: #ebb32224;
    border-color: #cd9b1b;
}

.btn-info {
    color: #fff;
    background-color: #36b9cc57;
    border-color: #36b9cc;
}

.btn-success {
    color: #fff;
    background-color: #158c61;
    border-color: #158c61;
}
/* ------------ / Btn ---------------------- */

/* --------- Forms ------------------------ */
.form {
    background-color: #360e44;
    padding: 40px;
    border-radius: 4%;
    box-shadow: 1px 0 15px 2px #410f62;
    color: #e69867;
}

.form-group {
    margin-bottom: 1rem;
}
.form-control {
    background-color: #704b7d;
    border: 1px solid #d1d3e2;
    color: #e69867;
}
/* ------------ / Forms ------------------- */
/* End classes */
/* ====================================================== */

#wrapper {
    min-height: 100%;
    display: flex;
    width: 100%;
}

aside {
    padding: 10px;
}

.branding {
    width: 100%;
    display: flex;
}
.branding img {
    width: 40%;
    margin: 0 auto;
}

main {
    padding: 30px;
}

#ads {
    height: 340px;
}

#ads img {
    height: 100%;
    width: 100%;
}

/* -------------------------- */
.col-md-2.user .card {
    width: 100%;
}

.user-profil {
    width: 100%;
}

.userface {
    text-align: center;
}

.userface img {
    width: 85%;
}
.usertext {
    padding: 5px 15px;
}
