body {
    height: 100%;
    width: 100%;
    background-color: #23152b;
    color: goldenrod;
}

#loginPage {
    height: 100vh;
    overflow: hidden;
    background-image: url("../dashboard/img/ads-ban.jpg");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.block {
    width: 40%;
    background-color: #360e44;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5%;
}

.head-block {
    height: 100px;
    width: 100%;
}
.branding {
    height: 100%;
    width: 100%;
    text-align: center;
}
.branding img {
    width: 25%;
    height: 90%;
}

h1 {
    text-align: center;
}

.body-block form {
    padding: 0 16px;
}
.body-block form label {
    display: block;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}
.body-block form label input {
    display: block;
    padding: 6px;
    width: 100%;
    margin-top: 3px;
}

.foot-block {
    text-align: center;
}
